.cart{
    text-align: center;
}

.no_productos{
    text-align: center;
    margin: 5% 0 1%;
}

.btn_menu{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 127, 209);
    border-radius: 0.50rem;
    border: rgb(0, 71, 112) 1px solid;
    padding: 4px;
    margin-left: 45%;
}

.total{
    background-color: rgb(233, 217, 165);
    border-radius: 0.50rem;
    padding: 2px;
    margin: 3% 45% 0;
    text-align: center;
    border: rgb(192, 177, 126) 1px solid;
}

.btns_finales{
    margin: 5px 43% 0; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.btn_final{
    padding: 5px;
    margin: 5px 2px;
    background-color: rgb(26, 147, 218);
    border-radius: 0.50rem;
    border: rgb(0, 71, 112) 1px solid;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}