.portada{
    height: 220px;
    width: 180px;
    border-radius: 0.50rem;
    border: black 1px solid;
    margin-top: 15px;
}

.card_item{
    background-color: rgb(235, 227, 215);
    border: black 1px solid;
    border-radius: 0.50rem;
    display: inline-block;
    box-shadow: 0 0 10px #555;
    color: black;
    text-align: center;
    align-items: center;
    width: 220px;
    height: 320px;
    margin: 10px 20px;
}

.btn_detalles{
    width: 120px;
    color: rgb(255, 255, 255);
    background-color: rgb(73, 71, 71);
    border: rgb(22, 21, 21) 1px solid;
    border-radius: 0.25rem;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2% 2%;
    margin: 2% 0%;
    box-shadow: 0 0 15px #555;
    text-decoration: none;
}

.detal{
    margin-top: 10px;
}