.carritoDiv{
    margin: 0 5% 0 0;
    display: flex;
    width: 60px;
    color: black;
    font-weight: bolder;
    align-items: center;
    background-color: rgb(203, 205, 207);
    border-radius: 0.25rem;
    text-decoration: none;
}

.carrito{
    padding: 5px 5px;
    height: 30px;
    width: 30px;
}

.carritoVacio{
    margin: 0 5% 0 0;
    width: 60px;
}